@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Battambang", system-ui;
    font-weight: 100;
    font-style: normal;
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menu{
    width: 100%;
    height: 90px;
    background-color: rgba(3, 3, 18, 0.911);
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    z-index: 99;
    top: 0;
    position: sticky;
}
.menu .logo{
    width: 20%;
    height: 100%;
    /* background-color: violet; */
    align-items: center;
    display: flex;
}
.logo img{
    width: 140px;
    height: 70px;
}
.menu .link{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    align-items: center;
    display: flex;
}
.menu .link ul{
    display: flex;
}
.menu .link ul li{
    list-style-type: none;
}
.menu .link ul li a{
    text-decoration: none;
    margin-right: 30px;color: white; 
    position: relative;  
}
.menu .link ul li a::before{
   content: "";
   position: absolute; 
   width: 0%;
   height: 4px;
   background-color:white; 
   bottom: -15px;
   left: 0; 
   transition: all 0.4s;
}
.menu .link ul li a::after{
    content: "";
    position: absolute; 
    width: 0%;
    height: 4px;
    background-color: rgb(255, 0, 0); 
    bottom: -15px;
    right: 0;
    transition: all 0.4s; 
 }
 .menu .link ul li a:hover:after{
    width: 50%;
    transition: all 0.4s; 
 }
 .menu .link ul li a:hover::before{
    width: 50%;
    transition: all 0.4s; 
 }
 .menu .icons{
    width: 10%;
    height: 100%;
    /* background-color:rgb(156, 41, 41); */
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu .icons ul li{
    list-style-type: none;
}
.menu .icons ul li a  i{
    font-size: 25px;
    color: aliceblue;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.368);
    position: relative;
}
/* ==================== banner ================ */
.banner img{
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: absolute;
}
.banner .box-text{
    width: 50%;
    /* background-color: blue; */
    position: absolute;
    bottom: 45%;
    left: 5px;  
}
.box-text h1{
    font-size: 30px;
    color: azure;
    
}
.box-text ul{
    display: flex;
    margin: 10px 15px;
}
.box-text ul li{
    margin-right: 20px;
    list-style-type: square;
    color: black;
}
.box-text ul li a{
    text-decoration: none;
    color: rgb(107, 19, 129);
}
.box-text button[type="button"]{
    width: 150px;
    padding: 15px 20px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
    margin-top: 20pxpx;
}
.b1{
    background-color: rgba(255, 255, 255, 0.697);
    color: rgb(11, 9, 6);
}
.b2{
    background-color: rgba(143, 137, 137, 0.955);
    color: black;
}
.b1:hover{
    background-color: rgba(255, 255, 255, 0.401);
    border: 2px gray;
    transition: all 0.5s;
}
.b2:hover{
    background-color: red;
    transition: all 0.5s;
    border: 2px gray;
}
.container{
    width: 100%;
    height: 400px;
    /* background-color: blue; */
    display: flex;
    margin-top: 50px;
    padding: 0px 50px;
}
.container .left{
    width: 25%;
    height: 100%;
    /* background-color: crimson; */
    position: relative;
    align-items: center;
    display: flex;
}
.container .left hr{
  margin-top: 100px;
} 
.container .right{
    width: 75%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    
}
.right .bx1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(226, 43, 43); */
    border-radius: 8px;
    overflow: hidden;
}
.right .bx1 img{
    width: 100%;
    height: 100%;   
}
.left .text-left h1{
    font-size: 30px;
    position: absolute;
}
.left .text-left h1::before{
    content:();
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
    bottom: -15px;
}
.right .bx2{
    width: 45%;
    height: 100%;
    /* background-color: blue; */
}
/* =======================main================ */
.main{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }

 

 .main1{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main1 .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main1 .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main1 .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main1 .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main1 .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main1 .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }
 .main2{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main2 .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main2 .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main2 .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main2 .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main2 .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main2 .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }


 .main3{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main3 .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main3 .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main3 .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main3 .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main3 .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main3 .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }
 .main4{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main4 .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main4 .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main4 .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main4 .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main4 .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main4 .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }



 .main5{
    width: 100%;
    height: 400px;
    background-color: white; 
    display: flex;
    margin-top: 100px;
}
.main5 .left{
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
   padding: 0px 50px;
   
  
}
.main5 .left .bt-add{
    width: 180px;
    /* background-color: aquamarine; */
   padding:  10px 20px;
   border: 2px solid black;
   color: black;
   margin-top: 30px;
   
}
.main5 .right{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 127, 255); */
    display: flex;
    justify-content: space-between;
}
   .main5 .right .b1{
    width: 30%;
    height: 100%;
    /* background-color: rgb(81, 255, 0); */
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgb(red, green, blue);
 }
 .main5 .right .b2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(59, 0, 186); */
    border-radius: 10px;
 }
 .main5 .right .b3{
    width: 30%;
    height: 100%;
    background-color: rgb(129, 233, 177);
    border-radius: 10px;
 }  

.right .b1 .img{
    width: 100%;
    height: 55%;
    /* background-color: chartreuse; */
    border-radius: 5px;
    overflow: hidden;
 } 

.b1 .img img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
} 
 .b1:hover .img img{
    transform: scale(1.1);
  }
  
 .right .b1 .title{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    padding: 15px 10px;
 }
 .right .b1 .title .bt{
   padding: 1px 8px;
   border: none;
   border-radius: 5px;
   background-color: brown;
   margin-bottom: 8px;
 }
 .right .b1 .title .bt:hover{
    color: blue;
    background-color: rgb(red, green, blue);
 }.right .b1 .title p a{
    text-decoration: none;
    color: black;
    font-size: 15px;
 }
 .right .b1 .title p a:hover{
    text-decoration: underline;
 }
 .right .b1 .profile{
    width: 100%;
    height: 20%;
    /* background-color: chocolate; */
    /* padding: 10px 15px ; */
    align-items: center;
    display: flex;
    padding: 0px 10px;
 }
 .right .b1 .profile .pic-left{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
 }
 .pic-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
 .right .b1 .profile .title-right{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 47, 255); */
 }

 /* =========== total-text=============== */
 .total-text{
   width: 100%;
   height: 100vh;
   /* background-color: blue; */
   margin-top: 30px;
   padding: 0px 50px;
 }
 .total-text .total-menu{
   width: 100%;
   height: 15%;
   background-color: pink;
   display: flex;
   justify-content:space-between;
 }
 .total-text .total-main{
   width: 100%;
   height: 85%;
   /* background-color: aqua;  */
   display: flex;
   justify-content: space-between;
 }
 .total-text .total-main .box1-left{
   width: 60%;
   height: 100%;
   background-color:rgba(0, 0, 0, 0.671);
   position: relative;
   overflow: hidden;
 }
 .total-text .total-main .box1-left img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   
 }
 .discription p::before{
   content: " ";
   position: absolute;
   width: 150px;
   height: 3px;
 }
 .discription p{
   position: absolute;
   margin-bottom: 60px;
   color: aliceblue;
   padding: 20px 30px;
 }
 .total-text .total-main .box1-left .discription h1{
   position: relative;
   width: 100%;
   height: 120px;
   /* background-color: blueviolet; */
   margin-top: 40%;
   padding: 30px 30px;
 }
 .total-text .total-main .box1-left .discription h1{
   color: aliceblue;
 }
 .total-text .total-main .box1-left:hover img{
   transform: scale(1.2);
 }
 .total-text .total-main .box1-left .discription h1:hover{
   text-decoration: underline;
   cursor: pointer;
 }

 .total-text .total-main .box2-right{
   width: 38%;
   height: 100%;
   /* background-color: rgb(190, 11, 157); */
   position: relative;
 }
 .box2-right .up{
   width: 100%;
   height: 48%;
   background-color: rgba(0, 0, 0, 0.664);
   position: relative;
   overflow: hidden;
 }
   .total-main .box2-right .up img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
   }
   .total-main .box2-right .up:hover img{
      transform: scale(1.1);
   }
   .box2-right .up .discription p{
      position: absolute;
      margin-bottom: 20px;
      color: aliceblue;
      padding: 10px 30px;
      top: 20%;
   }
   .box2-right .up .discription p::before{
      content: " ";
      width: 150px;
      height: 2px;
      color: antiquewhite;
   }
   .box2-right .up .discription h1{
      width: 100%;
      height: 120px;
      /* background-color: blueviolet; */
      margin-top: 30%;
      padding: 10px 30px;
      color: white;
   }
   .box2-right .up:hover .discription h1{
      text-decoration: underline;
      color: brown;
   }
 .box2-right .down{
   width: 100%;
   height: 48%;
   background-color: rgba(0, 0, 0, 0.752);
   margin-top: 15px;
   position: relative;
   overflow: hidden;
  
 }
 .box2-right .down:hover img{
   transform: scale(1.1);
 }
   .total-text .total-main .box2-right img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
 }
 .box2-right .down .discription h1{
   /* position: relative; */
   width: 100%;
   height: 120px;
   /* background-color: blueviolet; */
   margin-top: 70px;
     
   
 }
 .box2-right .down .discription h1:hover{
   text-decoration: underline;
   color: brown;
}
.last{
   width: 100%;
   height: 500px;
   background-color: red;
}
.last .picture{
   width: 100%;
   height: 20%;
   background-color: aqua;
}
.last .picture img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.last .style-title{
   width: 100%;
   height: 80%;
   background-color: peru;
   display: flex;
}
.last .style-title .bx1{
   width: 30%;
   height: 100%;
   background-color: chartreuse;
   justify-content: space-between;
}
.last .style-title .bx1 .up{
   width: 100%;
   height: 50%;
   background-color: red;
   padding: 20px 70px;
   /* position: relative; */
 
}
.last .style-title .bx1 .up h4{ 
   width: 100%;
   height: 50px;
   /* background-color: blueviolet; */
   margin-top: 2%;
   color: white;
}
.last .style-title .bx1 .up p{
   /* position: absolute; */
   color: aliceblue;
   padding: 10px 5px;

}
.last .style-title .bx1 .up h1{
   color: white;
   width: 100%;
   height: 50px;
   /* background-color: blueviolet; */
   margin-top: 2%;

}
.last .style-title .bx1 .up h1:hover{
   text-decoration: underline;
}
.last .style-title .bx1 .up h2{
   color: white;
   width: 100%;
   height: 50px;
   /* background-color: blueviolet; */
   margin-top: 2%;

}

/* .last .style-title .bx1 .up p::before{
   content: " ";
   width: 150px;
   height: 2px;
   color: antiquewhite;
}
  */
.last .style-title .bx1 .down{
   width: 100%;
   height: 50%;
   background-color: red;
   
}
.last .style-title .bx2{
   width: 30%;
   height: 100%;
   background-color: white;
}
.last .style-title .bx2 h3{
   color: white;
   width: 100%;
   height: 50px;
   /* background-color: blueviolet; */
   padding: 20px 100px;  
}
.last .style-title .bx2 ul li a{
   padding: 1px 100px;
   justify-content: space-between;
   display: flex;
}
.last .style-title .bx2 a{
   text-decoration: none;
}
.last .style-title .bx2 ul li a:hover{
   text-decoration: underline;
   color: white;
}
.last .style-title .bx2 .up{
   width: 100%;
   height: 50%;
   background-color: rgb(255, 0, 0);
 
}
.last .style-title .bx2 .down{
   width: 100%;
   height: 50%;
   background-color: orangered;
   
}
.last .style-title .bx2 .down img{
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
}

.last .style-title .bx3{
   width: 40%;
   height: 100%;
   background-color: rgb(81, 255, 0);
}
.last .style-title .bx3 .up{
   width: 100%;
   height: 50%;
   background-color: red;
 
}
.last .style-title .bx3 h6{
   padding: 10px 100px;
   width: 100%;
   height: 3px;
   color: white;
}
.last .style-title .bx3 h5{
   padding: 40px 100px;
   width: 100%;
   height: 3px;
   color: white;
}
.last .style-title .bx3 h3{
   color: white;
}
.last .style-title .bx3 h3:hover{
   text-decoration: underline;
   color: white;
}
.last .style-title .bx3 .down{
   width: 100%;
   height: 50%;
   background-color: red;
   
}